.login {
  display: flex;
  justify-content: center;
  width: 100%;
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    border-radius: 12px;
    height: 600px;
    min-width: 40%;
    background: linear-gradient(0.25turn, #396762, #eaeae7);
    box-shadow: #133d35 0px 30px 60px -12px, #8ea7a5 0px 18px 36px -18px;

    .login-title {
      font-weight: 700;
      font-size: 1.5rem;
    }

    .from-login {
      width: 40%;
      display: flex;
      margin-top: 1rem;
      font-size: 0.85rem;
      font-weight: 600;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .password-box, .username-box {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        
        .icon-box {
          padding-right: 5px;
          position: absolute;
          right: 0;
          display: flex;
          align-items: center;
         
          .icon {
            font-size: 18px;
          }
        }

        input{
          border: none;
          padding: 0.35rem;
          font-family: "Inter", sans-serif;
          margin: 0.75rem 0;
          border-radius: 4px;
          width: 100%;
  
          &:focus{
            outline: none !important;
            border-color: #133d35;
            box-shadow: 0 0 10px #133d35;
          }
        }
        
      }
      
      .role-box {
        display: flex;
        justify-content: center;
        align-items: center;

        label {
          margin-right: 20px;
        }

        .role-login {
          font-size: 12px;
          border: none;

          .role-item {
            color: var(--textColor);
          }

          &:focus {
            outline: none;
          }
        }
      }

      .login-error {
        padding: 3px 0  0 0;
        font-size: 12px;
        color: rgb(165, 2, 2);
      }

      .link-submit {
        display: flex;
        justify-content: center;
        width: 100%;
        text-decoration: none;

        button {
          cursor: pointer;
          border: none;
          align-self: center;
          margin-top: 1rem;
          font-size: 1rem;
          padding: 0.65rem;
          border-radius: 4px;
          color: white;
          background-color: #133d35 ;
          opacity: 0.7;
          
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
 
.login-register {
  margin: 2rem 1rem 0 1rem;
  font-size: 1rem;
}
.login-register-link {
  text-decoration: none;
  cursor: pointer;
  margin-top: 1rem;
  color: #133d35;
  font-weight: 700;
}