.print-medicalExamination {
  padding: 20px 50px;
  font-family: none !important;

  .header {
    display: flex;
    justify-content: space-between;

    &--info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      h2 {
        text-transform: uppercase;
        font-size: 20px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  .title {
    width: fit-content;
    margin: 0 auto;
  }

  .info-medical {
    margin: 10px 0 15px 0;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .user {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

    .info {
      display: flex;
      width: 100%;
      padding: 3px 0 3px;

      &__content {
        margin-left: 10px;
        font-weight: bold;
      }

      &--with50 {
        width: 50%;
      }

      &--with25 {
        width: 24%;
      }
    }
  }

  .list-medicine {
    margin-top: 20px;

    &__title {
      display: flex;
      justify-content: space-between;
      padding-right: 20%;
      padding-bottom: 10px;
    }

    .wrap {
      display: flex;
      border-bottom: 1px solid black;
      padding: 5px 0 10px ;

      .stt {
        font-weight: bold;
      }

      .medicine {
        padding-left: 10px;
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        
  
        &__name {
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 500;
          width: 80%;
        }
  
        &__count {
          width: 10%;
        }

        &__desc {
          width: 100%;
        }
      }
    }
  }

  .advice {
    margin-top: 20px;
    
    &__title {
      width: fit-content;
      font-weight: bold;
      text-transform: inherit;
      border-bottom: 1px solid black;
    }
  }

  .singed {
    float: right;
    margin-top: 30px;

    &__title {
     display: flex;
     justify-content: center;
    }
    
  }

  &--small {
    max-width: 500px;
    margin: 0 auto;

    .header {
      &--info {
        h2 {
          font-size: 16px;
        }

        p {
          font-size: 12px;
        }
      }
    }

    .title {
      margin-top: 100px;
      font-size: 30px;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      .nameMedical {
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 10px;
        border-bottom: 1px solid black;
      }
  
      .room {
        text-transform: uppercase;
        font-weight: bold;
        padding: 5px;
        border-bottom: 1px solid black;
      }

      .code {
        padding: 5px;
        border-bottom: 1px solid black;

        span {
          font-size: 20px;
          font-weight: bold;
        }
      }

      .user {
        display: flex;
        justify-content: center;
        .name {
          display: flex;
          justify-content: center;
          width: 100%;
          font-size: 20px;
          text-transform: uppercase;
          padding-bottom: 10px;
        }

        &__info {
          padding: 0 5px 20px 5px;
          border-bottom: 1px solid black;
          margin-bottom: 5px;
        }
      }
    }

  }
}

.page-content {
  max-width: 1200px;
  margin: 0 auto;

  .page-header {
    margin: 0 0 1rem;
    padding-bottom: 1rem;
    padding-top: .5rem;
    border-bottom: 1px dotted #e2e2e2;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .page-title {
      padding: 0;
      margin: 0;
      font-size: 17px;
      font-weight: 300;
    }
  }
  .content {
    .title-center {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }
    .user-info {
      display: flex;
      flex-flow: row wrap;
      .col-left {
        flex: 70%;
      }
      .col-right {
        flex: 30%;
      }
      
      &__item {
        .title{
          font-weight: bold;
          margin-right: 10px;
        }
      }
    }
    .list-item {
      margin-top: 40px;
      .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 12px;
        border: 1px solid;
        border-collapse: collapse;
      }
    }

    .auth {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .admin{
        display: flex;
        flex-direction: column;
      }
    }
  }
  .right {
  text-align: right;
}


.table th,
.table td {
  padding: 10px;
  vertical-align: top;
  border: 1px solid;
}

.table thead th {
  vertical-align: bottom;
}
}

