.app.dark {
  background-color: #222;
  color: rgb(156, 156, 156);

  .chartGrid {
    stroke: rgba(228, 225, 225,0.29);
  }

  .table{
    background-color: #111;
    
    .tableCell {
      color: rgb(156, 156, 156);
    }
  }

  .navbar {
    color: #999;
    border-color: #333;

    .search {
      border-color: gray;
    }
  }

  .sidebar{
    background-color: #111;
    border-color: #333;

    .top{
      .logo {
        color: #999;
      }

      hr{
        border-color: #333;
      }

      
    }
    .center {
      ul {
        li {
          &:hover {
            background-color: #333;
          }

          .icon {
            color: gray;
          }
        }
      }
    }
  }

  .datatable {
    .dataGrid {
      color: gray;
      .viewButton, .deleteButton, .cellWithStatus{
        color: gray;
        border: none;
      }
    }
  }

  input {
    background-color: transparent;
  }  
}